@model IEnumerable<Merancea.Models.Button>

@{
    ViewData["Title"] = "Index";
}

<h1>Button Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
@*                @Html.DisplayNameFor(model => model.Attribute)
*@            </th>
            <th>
                Page.Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Page)
            </th>
            <th>
                DestinationPage.Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationPage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
@*                @Html.DisplayFor(modelItem => item.Attribute)
*@            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page.Id)
            </td>
            <td style="color:grey">
                @Html.DisplayFor(modelItem => item.Page.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationPage.Id)
            </td>
		    <td style="color:grey">
                @Html.DisplayFor(modelItem => item.DestinationPage.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ButtonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ButtonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ButtonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
